

#home {
  background:url("http://nettuts.s3.amazonaws.com/2138_SimpleParallax/Demo/images/home.jpg") 50% 0 repeat fixed;
  min-height:1000px;
  height:1000px;
  margin:0 auto;
  width:100%;
  max-width:1920px;
  position:relative;
}
#home article {
	background: url("http://nettuts.s3.amazonaws.com/2138_SimpleParallax/Demo/images/intro.png") no-repeat scroll center top transparent;
  height: 458px;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 150px;
  width: 100%;
}
#about {
  background:url("http://nettuts.s3.amazonaws.com/2138_SimpleParallax/Demo/images/about.jpg") 50% 0 repeat fixed;
  min-height: 1000px;
  height:1000px;
  margin:0 auto;
  width:100%;
  max-width:1920px;
  position:relative;
  -webkit-box-shadow:0 0 50px rgba(0,0,0,0.8);
  box-shadow:0 0 50px rgba(0,0,0,0.8);
}
#about article {
  height:458px;
  position:absolute;
  text-align:center;
  top:150px;
  width:100%;
}
